[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HoaLNB
[access "refs/for/refs/*"]
	read = group user/HoaLNB
	push = group user/HoaLNB
	label-Code-Review = -2..+2 group user/HoaLNB
	label-Verified = -1..+1 group user/HoaLNB
	rebase = group user/HoaLNB
	removeReviewer = group user/HoaLNB
	submit = group user/HoaLNB
[access "refs/heads/*"]
	read = group user/HoaLNB
	create = group user/HoaLNB
	push = +force group user/HoaLNB
	pushMerge = group user/HoaLNB
[access "refs/tags/*"]
	push = +force group user/HoaLNB
	pushTag = group user/HoaLNB
	pushSignedTag = group user/HoaLNB
